!!!
%html
  %head
    %title Todolist
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    :javascript
      Todolist.priorities = #{Task.priority_options.to_json};
    - if current_user.nil?
      :javascript
        Todolist.current_user = null;
    - else
      :javascript
        Todolist.current_user = "#{current_user.username}";

  %body
    #navbar
    #main.container
      = yield